*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-color: black;
    width: 96rem; 
    margin: 0 auto; 
}
.header {
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
}
.title {
    display: flex; 
    justify-content: center;
    background: -webkit-linear-gradient(90deg, rgba(222,89,34,1) 0%, rgba(219,191,53,1) 35%, rgba(118,201,121,1) 65%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-transform: capitalize; 

    margin: 2rem;
}
.introduction {
    display: flex; 
    justify-content: center;
    color: white;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;

    margin: 2rem; 
}
.form {
    display: flex; 
    justify-content: center;
    box-sizing: border-box;
    margin: 2rem; 
}
.form__input {
    background: -webkit-linear-gradient(90deg, rgba(222,89,34,1) 0%, rgba(219,191,53,1) 35%, rgba(118,201,121,1) 65%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem; 
}
.input {
    padding: 0.5rem; 
    border: 0;
    border-bottom: 0.01rem solid rgba(219,191,53,1); 
    background: -webkit-linear-gradient(90deg, rgba(222,89,34,1) 0%, rgba(219,191,53,1) 35%, rgba(118,201,121,1) 65%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: none;
}
.button {
    padding: 0.7rem; 
    background-color: black; 
    border-radius: 2rem; 
    border: 0.01rem solid rgba(219,191,53,1); 
    text-transform: uppercase; 
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, rgba(222,89,34,1) 0%, rgba(219,191,53,1) 35%, rgba(118,201,121,1) 65%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text {
    color: white; 
    font-size: 2rem; 
    text-transform: uppercase; 
}
